

/* Add styles to the form container */
.form-container {
  font-family: Arial, Helvetica, sans-serif;
  margin-left:  250px;
  max-width: 60%;
  padding: 10px;
  /* background-color: #F0F0F0;*/
  background-color: white;
  font-size: 16px;
  border: 5px solid #f1f1f1;
}

/* Full-width input fields */
 .form-container select {
    font-size: 16px;
  width: 150px;
  padding: 10px;
  margin: 10px 0 22px 0;
  border: none;
  background: white;
}

.form-container input[type=text] {
  background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid  #eeeeee 1px;
    padding: 3px 10px;
     font-size: 20px;
    width: 400px;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#simpleSearch{
  position: absolute;
  right: 170px;  
  top:100px;
  background-color: #F5E13C;
  font-size: 16px;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
   border-bottom: none;
  height: 35px;
}

#simpleSearch:hover{
    background-color: #EBD732;
}


