/* Add styles to the form container */
.form-container {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 250px;
  max-width: 68%;
  padding: 15px;
  /* background-color: #F0F0F0;*/
  background-color: white;
  font-size: 20px;
  border: 3px solid #f1f1f1;
  
}

#header{

}


/* Full-width input fields */
.form-container select {
  font-size: 14px;
  width: 136px;
  padding: 3px;
  margin: 10px 0 22px 0;
  border: none;
  background: #f1f1f1;
  height: 30px;
}

#first {
  width: 450px;
}

#language {
  font-size: 15px;
  position: absolute;
  top: 200px;
  right: 197.5px;
}

#date {
  font-size: 15px;
  position: absolute;
  top: 263px;
  right: 195px;
}

#startDate{
  display:none;
}

#endDate{
   display:none;
}

#end{
   position: absolute;
  top: 360px;
  right: 187px;
  font-size: 14px;
  height: 20px;
}



#start{
   position: absolute;
  top: 310px;
  right: 191px;
  font-size: 14px;
  height: 20px;
}
#day{
  width: 53px;
}

#month{
  width: 68px;
}

#year{
    font-size: 14px;
    width: 40px;
}


.form-container input[type=text] {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #B8B8B8 1px;
  padding: 3px 10px;
  font-size: 20px;
  width: 310px;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#simpleSearch {
  position: absolute;
  right: 50px;
  top: 100px;
  background-color: #F5E13C;
  font-size: 16px;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 35px;
}

#simpleSearch:hover {
  background-color: #EBD732;
}


#forSearch{
  display: none;
}
