#resize{
     font-family:helvetica; sans-serif;
  max-width:500px;
  margin:5px;
  color:#666666;
  top: 55px;
  right: 10px;
  position: absolute;
    position: fixed;
}

p{
  clear:right;
  font-size:15px;
}

.resizable{
font-size:15px;
}

span{
  font-size:25px;
  float:right;
  display:block;
  font-weight:bold;
}

a{
  color:    #E9967A;
}

a:hover{
  color:#B22222;
}