body{
    background-color: gainsboro;
}


#details{
    background-color: #f1f1f1;
    margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 25px;
    margin-right: 25px;
    width: auto;
    height: auto;   
    padding: 25px 15px 15px 25px;
    padding-bottom: 25px;
}

#image{
    margin-left: 10px;
    float:left;
    width: 200px;
    height: 2200px;
}

#title{
     font-size: 20px;
     color:blue ;
    padding-top: 15px;
}

#id{
    margin-top: 50px;
}

.send{
    margin-top: 25px;
    font-size: 25px;
    color: grey;
    
}

.all {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin-bottom: 5px;
    margin-top: 2px;
    width:170px;
}
.all:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.all:active {
	position:relative;
	top:1px;
}

.thumbnail{
     border-radius: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 5px 5px 5px #ccc;
    margin-bottom: 3px;
    margin-top: 15px;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:200px;
    height:250px;
    display:block;
    z-index:999;
    margin-top: 10px;
    margin-left: 10px;
}

#requestBtn {
    background: none;
	color: steelblue;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#status{
    background-color: white;
    width:65%;
    text-align:  left;
    border: 3px solid #f1f1f1;
    box-shadow: 10px 5px 5px red;
}


#request{
     background-color: white ;
     width:65%;
     text-align: center;
    float: left;
   box-shadow: 60px -16px teal;
}

div.item{
     vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    float: left;
      margin-left: 55px;
}

.caption {
    margin-left: 55px;
}

.format{
    height:300px;
   width:65%;
    background-color: rgba(255,255,255,0.5); 
    text-align: center;
    float:left;
    display:none;
}

.test{
    background-color: white;
     width:85%;
     height:200px;
      border-style: solid;
    border-color: coral;
}
