body{
    background-color: gainsboro;
}


#details{
    background-color: white;
    margin-top: 25px;
    margin-left: 80px;
    margin-bottom: 25px;
    width: auto;
    height: auto;
        
    padding: 25px 15px 15px 25px;
}

#image{
    float:left;
    margin-right: 50px;
    
    height: 1800px;
}

#title{
     font-size: 20px;
     color:lightblue;
    
}

#id{
    margin-top: 50px;
}

#send{
    margin-top: 25px;
    font-size: 25px;
    color: grey;
    
}

#button{
    position:fixed;
}
