.form-container select {
  font-size: 14px;
  width: 136px;
  padding: 3px;
  margin: 10px 0 22px 0;
  border: none;
  background: #f1f1f1;
  height: 30px;
}
.example button {
  float: left;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.example button:hover {
  background: #0b7dda;
}