#resize{
     font-family:helvetica; 
  max-width:500px;
  margin:5px;
  color:#666666;
  top: 55px;
  right: 23px;
  position: absolute;
}


p{
  clear:right;
  font-size:15px;
}

.resizable{
font-size:15px;
}

span{
  font-size:25px;
  float:right;
  display:block;
  /* font-weight:bold; */
}
#big, #small,#average{
  
  color:  greenyellow;
}




a{
  color:    #E9967A;
  text-decoration: none;
    
 
}

a:hover{
  color:#B22222;
}